version: "3"

services:
  tinypost:
    build: .
    platform: linux
    volumes:
      - ./:/usr/app
    command: "npm run start:dev"
    ports:
      - 8000:3000
    networks:
      - tinypost_network
  mongo:
    image: mongo
    restart: always
    ports:
      - 27017:27017
    # volumes:
    #   - ./data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    networks:
      - tinypost_network
networks:
  tinypost_network:
